
<div>

    
            <img id="beers" src={{image_url}}  alt="beer">
            <br>
            <a href="/beer/{{id}}">{{name}}</a>
            <p>{{description}} </p>
            <p>{{tagline}}</p>
    


</div>
